<div tabindex="-1" class="ember-sr-only {{if this.isFocusable "ember-sr-only-focusable"}}" id="ember-a11y-refocus-nav-message">
  De navigatie is voltooid. U kan nu doorheen de pagina navigeren zoals u wenst.
</div>