<div class="u-spacer--small">
	{{#power-select
     placeholder="Oost-Vlaanderen, Berchem, Hasselt, ..."
     selected=selected
     options=bestuurseenheidNamen
     search=(perform findBestuurseenheidNamen)
     onchange=onSelect
     allowClear=true
     as |bestuurseenheidNaam|
	  }}
	  {{bestuurseenheidNaam}}
	{{/power-select}}
</div>

{{yield}}
