// Fix overflow issue on chrome & safari
body {
  overflow: hidden;
}

// Add main app container
.au-c-app-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: auto;

  @include mq(medium) {
    overflow: hidden;
  }
}

.au-c-container {
  height: 100%;
}

// List
.au-c-list {
  list-style: none;
  margin-bottom: 0;
}

.au-c-list__item {
  & + & {
    margin-top: $au-unit-small;
  }
}

// Steps
.au-c-steps {
  list-style: none;
}

.au-c-steps__item {
  position: relative;

  & + & {
    margin-top: $au-unit;
  }

  & + &:before {
    content: "";
    position: absolute;
    display: block;
    left: $au-unit * 2;
    bottom: 100%;
    width: .2rem;
    height: $au-unit;
    background-color: $au-gray-300;
  }
}

// Make breadcrumb toolbar a smaller default font-size
// @TODO: create a utility or toolbar modifier?
.au-c-toolbar__breadcrumbs {
  font-size: $au-base;
}

// Link card
.au-c-card--link {
  position: relative;

  &:hover,
  &:focus {
    outline: .4rem solid $au-gray-200;
  }

  .au-c-heading--4 {
    text-decoration: underline;
  }

  &:hover .au-c-heading--4,
  &:focus-within .au-c-heading--4 {
    text-decoration: none;
  }

  &:focus-within {
    outline: $au-outline;
    outline-offset: .2rem;
  }
}

.au-c-card__link {
  @include au-font-size($au-h2);

  &,
  &:hover,
  &:focus {
    color: $au-gray-600;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}



//old
.u-word-break--word-break {
	word-break: word-break;
}

.small {
	font-size: 0.9em;
}

.smaller {
	font-size: 0.8em;
}

.smallest {
	font-size: 0.7em;
}

.vrije-tekst {
	[property="ext:behandelt"] {
		margin: 0;
	}

	[property="ext:behandelt"] > * {
		display: none;
	}

	[property="dc:subject"] {
		display: block;
		font-family: flanders-sans,sans-serif;
    font-size: 1.8rem;
	}
}




// Fix title and comma spacing
[property="dc:title"] {
  [property="http://data.vlaanderen.be/ns/besluit#isGehoudenDoor"] {
    margin-right: -.4ex;
  }
}

.h1 [property="skos:prefLabel"],
.au-c-heading [property="skos:prefLabel"] {
  margin-right: -.4ex;
}

// Add comma separator between mandatees
[property="besluit:heeftAanwezige"] + [property="besluit:heeftAanwezige"] [property="mandaat:isBestuurlijkeAliasVan"],
[property="besluit:heeftAanwezigeBijStart"] + [property="besluit:heeftAanwezigeBijStart"] [property="mandaat:isBestuurlijkeAliasVan"],
[typeof="http://data.vlaanderen.be/ns/mandaat#Mandataris"] + [typeof="http://data.vlaanderen.be/ns/mandaat#Mandataris"] [property="mandaat:isBestuurlijkeAliasVan"] {
  &:before {
    content: ', ';
  }
}

div[property="besluit:heeftVoorstander"] {
  display: none;
}

[property="besluit:heeftStemming"] {
  p:last-child {
    margin-bottom: $au-unit;
    margin-top: $au-unit-small;
  }
}


[property="mandaat:isBestuurlijkeAliasVan"] {
  margin-right: -.4ex;
}

[property="besluit:heeftAanwezige"] {
  margin-right: -.4ex;

  [property="mandaat:isBestuurlijkeAliasVan"] {
    margin-right: 0;
  }
}

// Deprecated hidden class
.u-hidden {
  @extend .au-u-hidden-visually;
}
