/* ==================================
   #APPUNIVERSUM
   ================================== */

/**
 * A design universe for Flanders GOV applications
 */

/**
 * CONTENTS
 * ---
 * SETTINGS: Project settings and variables
 * TOOLS: Mixins
 * GENERIC: Reset, global box-sizing and font-styles
 * ELEMENTS: Plain html tag styling
 * OBJECTS: OOCSS unstyled objects (namespace: '.au-o-...')
 * COMPONENTS: Components (namespace: '.au-c-...')
 * UTILITIES: Single function helper classes (namespace: '.au-u-...')
 * SHAME: Temporary hacks and quickfixes
 */

.yasgui .controlbar {
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.yasgui .autocompleteWrapper {
  display: none !important;
}
@import 'ember-appuniversum';

// PROJECT
@import 'project/publicatie';
@import 'project/template';
@import 'project/c-environment-banner';

// PROJECT UTILITIES
@import 'project/print';

// TEMPORARY HACKS AND QUICKFIXES
@import 'shame';
