/* ==========================================================================
  Publicatie
  Style what publicaties looks like here.
 ========================================================================== */


/* Style overview page
 ========================================================================== */

.info-tile.u-background--gray-lightest {
	background-color: $blue-gray-lightest !important;
}



/* Style document publish for besluitenlijst, remove when fixed bug
 ========================================================================== */

  .document-publish {
  	[typeof="besluit:BehandelingVanAgendapunt"],
  	[property="besluit:behandelt"] {
  		margin-bottom: 2rem;
  		display: block;
  	}

  	[typeof="besluit:BehandelingVanAgendapunt"]:not([property="ext:behandelt"]) {
	  	[property="besluit:openbaar"][content="true"] {
	  		&:before {
	  			content: "Agendapunt - "
	  		}
		  	&:after {
		  		content: "Openbare Behandeling";
		  		margin-left: 1rem;
		  		display: inline-block;
		  	}
		  }

	  	[property="besluit:openbaar"][content="false"] {
	  		&:before {
	  			content: "Agendapunt - "
	  		}
		  	&:after {
		  		content: "Besloten Behandeling";
		  		margin-left: 1rem;
		  		display: inline-block;
		  	}
		  }

  	}
  }
