<div class="container-flex--scroll u-padding--round document-publish">
  <a class="u-hidden" href="http://data.lblod.info/id/document-types/notulen" property="dct:type"></a>

  <div class="col--7-12 col--1-1--s">
    <div class="u-spacer--top--small u-spacer--bottom--large" property="prov:value">
      <div resource="{{model.zitting.uri}}" typeof="besluit:Zitting">
        <div property="besluit:heeftNotulen" resource={{model.notulen.uri}}>
          <div propert="prov:value">
            {{{ model.notulen.inhoud }}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
