<div class="au-o-layout document-publish">
  <a class="au-u-hidden" href="http://data.lblod.info/id/document-types/notulen" property="dct:type"></a>

  <div class="au-o-region-large" property="prov:value">
    <div resource="{{model.zitting.uri}}" typeof="besluit:Zitting">
      <div property="besluit:heeftNotulen" resource={{model.notulen.uri}}>
        <div property="prov:value">
          {{{ model.notulen.inhoud }}}
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
