/* ==========================================================================
  Publicatie
  Style what publicaties looks like here.
 ========================================================================== */

/* Style document publish for besluitenlijst, remove when fixed bug
 ========================================================================== */

.au-c-document-publish {
  [typeof="besluit:BehandelingVanAgendapunt"],
  [property="besluit:behandelt"] {
    margin-bottom: 2rem;
    display: block;
  }
}

/* ==========================================================================
Document text
Style the text from documents here.
========================================================================== */

  /* -------------------- list styles ------------------------- */

.au-c-document-publish {
  ul {
    list-style: bullet;
  }

  ol:not(.bullet-list):not(.numbered-list),
  ul:not(.bullet-list):not(.numbered-list) {
    padding-left: 1.75em;

    > li {
      list-style-type: initial;
    }
  }

  ul:not(.bullet-list):not(.numbered-list).article-list {
    padding-left: 0;

    li {
      margin-bottom: 1.5rem;
      list-style-type: unset;
    }
  }

  ul:not(.bullet-list):not(.numbered-list) li {

    > ul > li {
      list-style-type: circle;

      > ul > li {
        list-style-type: square;

        > ul > li {
          list-style-type: initial;

          > ul > li {
            list-style-type: circle;

            > ul > li {
              list-style-type: square;

              > ul > li {
                list-style-type: initial;

                > ul > li {
                  list-style-type: circle;

                  > ul > li {
                    list-style-type: square;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  ol:not(.bullet-list):not(.numbered-list) > li {
    list-style-type: decimal;
  }

  [property="besluit:heeftAgenda"] > ul:not(.bullet-list) li {
    list-style-type: none;
  }
}


/* Table in editor */
.au-c-document-publish {
  .data-table--lined.data-table--tight {
    th,
    td {
      font-size: 1.4rem;
      padding: 0.8rem;
    }

    .button--small {
      font-size: 1.3rem;
      font-weight: 400;
    }

    .button-group .button {
      margin-bottom: 0.5rem;
    }
  }

  table th {
    white-space: initial;
    background-color: $au-white;
  }

  .data-table th,
  .data-table td {
    font-size: 1.4rem;
  }
}
