/* ==========================================================================
  Publicatie
  Style what publicaties looks like here.
 ========================================================================== */

/* Style document publish for besluitenlijst, remove when fixed bug
 ========================================================================== */

.besluitenlijst {
  [typeof='besluit:BehandelingVanAgendapunt'] {
    border: 0.1rem solid $au-gray-200;
    padding: 2.4rem;
    margin-top: 1.2rem;
  }
  [property='http://data.vlaanderen.be/ns/besluit#geplandeStart']
  {
    display: none;
  }
  [typeof='besluit:Zitting'] {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-left: 0;
  }
  [property='besluit:openbaar'] {
    display: none;
  }
  [property='eli:title'] {
    border-bottom: 0.1rem solid $au-gray-200;
    font-size: $au-h4;
    line-height: $au-global-line-height;
  }
  [property='prov:generated'] {
    border-bottom: 0;
  }
  [property='besluit:heeftStemming'] {
    display: flex;
    flex-wrap: true;
    gap: 2rem;
    p:last-child {
      margin: 0;
    }
  }
  .besluit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    [typeof*='besluit#Besluit'] {
      flex-grow: 1;
    }
  }
}

.au-c-document-publish {
  [typeof='besluit:BehandelingVanAgendapunt'],
  [property='besluit:behandelt'] {
    margin-bottom: 2rem;
    display: block;
  }
}

/* ==========================================================================
Document text
Style the text from documents here.
========================================================================== */

/* -------------------- list styles ------------------------- */

.au-c-document-publish {
  ul {
    list-style: bullet;
  }

  ol:not(.bullet-list):not(.numbered-list):not(.au-c-template-list-inline):not(
      .au-c-template-list
    ),
  ul:not(.bullet-list):not(.numbered-list):not(.au-c-template-list-inline):not(
      .au-c-template-list
    ) {
    padding-left: 1.75em;

    > li {
      list-style-type: initial;
    }
  }

  ul:not(.bullet-list):not(.numbered-list).article-list {
    padding-left: 0;

    li {
      margin-bottom: 1.5rem;
      list-style-type: unset;
    }
  }

  ul:not(.bullet-list):not(.numbered-list) li {
    > ul > li {
      list-style-type: circle;

      > ul > li {
        list-style-type: square;

        > ul > li {
          list-style-type: initial;

          > ul > li {
            list-style-type: circle;

            > ul > li {
              list-style-type: square;

              > ul > li {
                list-style-type: initial;

                > ul > li {
                  list-style-type: circle;

                  > ul > li {
                    list-style-type: square;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  ol:not(.bullet-list):not(.numbered-list) > li {
    list-style-type: decimal;
  }

  [property='besluit:heeftAgenda'] > ul:not(.bullet-list) li {
    list-style-type: none;
  }
}

/* Table in editor */
.au-c-document-publish {
  .data-table--lined.data-table--tight {
    th,
    td {
      font-size: 1.4rem;
      padding: 0.8rem;
    }

    .button--small {
      font-size: 1.3rem;
      font-weight: 400;
    }

    .button-group .button {
      margin-bottom: 0.5rem;
    }
  }

  table th {
    white-space: initial;
    background-color: $au-white;
  }

  .data-table th,
  .data-table td {
    font-size: 1.4rem;
  }
}
