<div class="container-flex--scroll u-padding--round">
  <div class="grid">
	  <div {{rdfa attrs}} class="col--8-12">
			{{#with-rdfa-context model=model as |ctx|}}
			  {{#ctx.get prop="type" link=true as |attrs|}}
				  <h1 class="h1 u-spacer--top--small">
				  	Type document
				  	<br>
				    <a {{rdfa attrs}}>Uittreksel document</a>
				  </h1>
			  {{/ctx.get}}

			  {{#ctx.get prop="inhoud" as |attrs inhoud|}}
			    <div {{rdfa attrs}} class="document-publish">
			      {{{ inhoud }}}
			    </div>
			  {{/ctx.get}}
			{{/with-rdfa-context}}
		</div>
	</div>
</div>
