<div class="au-o-layout">
  <div class="au-o-region-large">
    <WithRdfaContext @model={{this.model}} as |ctx|>
      <AuHeading @skin="2">
        Type document
        <br>
        <a href="http://data.lblod.info/id/document-types/uittreksel" property="dct:type">Uittreksel document</a>
      </AuHeading>
      <ctx.div @prop="inhoud" class="au-c-document-publish" as |inhoud|>{{html-safe inhoud}}</ctx.div>
    </WithRdfaContext>
  </div>
</div>
