<div class="au-c-sidebar">
  <div class="au-c-sidebar__content">
    <nav>
      <ul class="au-c-list-navigation">
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="bestuurseenheid.zittingen">
            <AuIcon @icon="folder" @alignment="left" />
            Publicaties
          </AuNavigationLink>
        </li>
        <li class="au-c-list-navigation__item">
          <AuNavigationLink @route="bestuurseenheid.reglementen">
            <AuIcon @icon="folder" @alignment="left" />
            Reglementen
          </AuNavigationLink>
        </li>
      </ul>
    </nav>
  </div>
</div>