<div class="container-flex--scroll u-padding--round">
  <div class="grid">
    <div class="col--7-12 col--9-12--m col--1-1--s">
      <h1 class="h1 u-spacer--top--small">
        Bekendmakingen van {{get (await model.zitting.bestuursorgaan.isTijdsspecialisatieVan) 'naam'}}, zitting van {{moment-format model.zitting.geplandeStart 'D MMMM YYYY, HH:mm'}}
      </h1>
    </div>

    <div class="col--7-12 col--9-12--m col--1-1--s u-padding--bottom--large">
      <div class="grid grid--is-stacked">
        {{#if model.uittreksel.inhoud}}
          {{{model.uittreksel.inhoud}}}
        {{else}}
          Inhoud (nog niet) beschikbaar.
        {{/if}}
      </div>
    </div>

  </div>
</div>
