<div class="au-o-layout">
  <div class="au-o-region-large">
    <div typeof="besluit:Zitting" resource={{model.uri}}>
      <AuHeading @skin="2" class="au-u-margin-bottom">
        Type document
        <br>
        <a href="http://data.lblod.info/id/document-types/agenda" property="dct:type" class="au-c-link">Agenda document</a>
      </AuHeading>
      <div class="document-publish">
        {{{model.inhoud}}}
      </div>
    </div>
  </div>
</div>
