<div class="container-flex--scroll u-padding--round">
  <div class="grid">
    <div typeof="besluit:Zitting" resource={{this.model.uri}} class="col--8-12">
      <h1 class="h1 u-spacer--top--small">
        Type document
        <br>
        <a  href="http://data.lblod.info/id/document-types/agenda" property="dct:type">Agenda document</a>
      </h1>
      <div class="document-publish">
        {{html-safe this.model.inhoud}}
      </div>
    </div>
  </div>
</div>
