<div class="temporary-header">
  <div class="grid">
    <div class="col--6-12">
      <div class="temporary-header__logo"></div>
      <div class="temporary-header__vlaanderen">Vlaanderen</div>
      <div class="temporary-header__name">
        publicatie.gelinkt-notuleren.vlaanderen.be
      </div>
    </div>
    <div class="col--6-12 u-align-right">
      <div class="temporary-header__info">
      	{{!-- {{#link-to 'contact'}} --}}
      		<p><a href="/contact">Contacteer ons <i class="badge vi-u-badge vi-u-badge--xxsmall vi vi-question"></i></a></p>
      	{{!-- {{/link-to}} --}}
      </div>
    </div>
  </div>
</div>

{{outlet}}
