<div class="au-c-app-container" vocab="http://data.vlaanderen.be/ns/besluit#" prefix="lblod: http://data.lblod.info/vocabularies/lblod/ eli: http://data.europa.eu/eli/ontology# prov: http://www.w3.org/ns/prov# mandaat: http://data.vlaanderen.be/ns/mandaat# besluit: http://data.vlaanderen.be/ns/besluit# generiek: http://data.vlaanderen.be/ns/generiek# person: http://www.w3.org/ns/person# persoon: http://data.vlaanderen.be/ns/persoon# dct: http://purl.org/dc/terms/ skos: http://www.w3.org/2004/02/skos/core# org: http://www.w3.org/ns/org# foaf: http://xmlns.com/foaf/0.1/ ext: http://mu.semte.ch/vocabularies/ext/ besluittype: https://data.vlaanderen.be/id/concept/BesluitType/ lblodBesluit: http://lblod.data.gift/vocabularies/besluit/ ">
  
  {{#let (config "environmentName") as |environmentName|}}
    {{#if environmentName}}
    <EnvironmentBanner @environmentName={{environmentName}}/>
    {{/if}}
    <AuMainHeader @brandLink="https://publicatie.gelinkt-notuleren.vlaanderen.be/" @homeRoute="index" @appTitle="publicatie.gelinkt-notuleren.vlaanderen.be" @contactRoute="contact">
    </AuMainHeader>
    {{page-title (concat
      "Publicatie Gelinkt Notuleren"
      (if environmentName (concat " - " environmentName))
    )}}
  {{/let}}

  <div class="au-c-main-container" id="main">
    <div class="au-c-main-container__content au-c-main-container__content--scroll">
      <main id="content">
        {{outlet}}
      </main>

      <AuMainFooter>
        <AuHeading @level="2" @skin="4">
          Publicatie.gelinkt-notuleren.vlaanderen.be is een officiële website van de Vlaamse overheid
        </AuHeading>
        <AuContent @skin="small">
          <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
          <ul class="au-c-list-horizontal">
            <li class="au-c-list-horizontal__item">
              <AuLink @route="legaal.disclaimer" @skin="secondary">Disclaimer</AuLink>
            </li>
            <li class="au-c-list-horizontal__item">
              <AuLink @route="legaal.cookieverklaring" @skin="secondary">Cookieverklaring</AuLink>
            </li>
            <li class="au-c-list-horizontal__item">
              <AuLink @route="legaal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheid</AuLink>
            </li>
          </ul>
        </AuContent>
      </AuMainFooter>
    </div>
  </div>
</div>
