<div class="container-flex--scroll">

  {{#wu-content-header title="Publicaties Gelinkt Notuleren"}}
    <img sizes="100vw" src="/assets/images/banner-bruges.jpg" srcset="/assets/images/banner-bruges-320.jpg 320w, /assets/images/banner-bruges-1024.jpg 1024w, /assets/images/banner-bruges-1600.jpg 1600w" alt="" title="">
  {{/wu-content-header}}

  <div class="u-padding--round--large">

  	<h2 class="h3 u-spacer">Bekijk de gepubliceerde agenda's, besluiten en notulen van een bestuur</h2>

  	<ul class="steps steps--has-line">
	    <li class="step step--no-box">
	      <div class="step__icon">1</div>
	      <div class="step__wrapper">
	        <div class="step__header">
	          <h3 class="step__title">Stap 1: Kies het type bestuurseenheid &mdash; Gemeente, District, Provincie of OCMW.</h3>
	        </div>
	        <div class="step__content-wrapper">
	          <div class="step__content">
					    {{#power-select
					        placeholder="Gemeente, District, Provincie of OCMW ..."
					        selected=bestuurseenheidClassificatieLabel
					        options=bestuurseenheidClassificatieLabels
					        onchange=(action "chooseBestuurseenheidClassificatieLabel")
					          as |bestuurseenheidClassificatieLabel|
					    }}
					      {{bestuurseenheidClassificatieLabel}}
					    {{/power-select}}
	          </div>
	        </div>
	      </div>
	    </li>
	    <li class="step {{unless labelIsSelected "step--disabled"}} step--no-box">
	      <div class="step__icon">2</div>
	      <div class="step__wrapper">
	        <div class="step__header">
	          <h3 class="step__title">Stap 2: Kies de bestuurseenheid </h3>
	        </div>
	        <div class="step__content-wrapper">
	          <div class="step__content">
						  {{#if labelIsSelected}}
						    <div>
						      {{#power-select
						          placeholder="Oost-Vlaanderen, Berchem, Hasselt, ..."
						          class="u-spacer--large"
						          selected=bestuurseenheidNaam
						          options=bestuurseenheidNamen
						          oninput=(action "chooseBestuurseenheidNaam")
						          onchange=(action "chooseBestuurseenheidNaam")
						            as |bestuurseenheidNaam|
						      }}
						        {{bestuurseenheidNaam}}
						      {{/power-select}}
						    </div>
						  {{/if}}
					  	<div class="button-group">
					      {{#link-to "bestuurseenheid" bestuurseenheidNaam bestuurseenheidClassificatieLabel}}
					        <button class="button button--block button--large {{unless naamIsSelected "button--disabled"}}">Bekijk publicaties</button>
					      {{/link-to}}
					    </div>
	          </div>
	        </div>
	      </div>
	    </li>
  	</ul>
	</div>
</div>
