<div class="container-flex--scroll u-padding--round--large">

  <h1 class="h1">Publicatie Gelinkt Notuleren</h1>

  <div>
    {{#power-select
        placeholder="OCMW, Gemeente, District, ..."
        selected=bestuurseenheidClassificatieLabel
        options=bestuurseenheidClassificatieLabels
        onchange=(action "chooseBestuurseenheidClassificatieLabel")
          as |bestuurseenheidClassificatieLabel|
    }}
      {{bestuurseenheidClassificatieLabel}}
    {{/power-select}}
  </div>

  {{#if labelIsSelected}}
    <hr>
    <div>
      {{#power-select
          placeholder="Oost-Vlaanderen, Berchem, Hasselt, ..."
          selected=bestuurseenheidNaam
          options=bestuurseenheidNaamen
          onchange=(action "chooseBestuurseenheidNaam")
            as |bestuurseenheidNaam|
      }}
        {{bestuurseenheidNaam}}
      {{/power-select}}
    </div>
  {{/if}}

  <hr>

  {{#if naamIsSelected}}
    <div>
      {{#link-to "bestuurseenheid" bestuurseenheidNaam bestuurseenheidClassificatieLabel}}
        <button class="button">Search</button>
      {{/link-to}}
    </div>
  {{else}}
    <div>
      <button class="button button--disabled">Search</button>
    </div>
  {{/if}}


</div>
